@model LoginRegister.Models.AccountDetails

@{
    ViewBag.Title = "AccountDetails";
}

<h2>AccountDetails</h2>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>

        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(model => model.Balance)
        </td>
       
    </tr>


</table>
<div>
    @Html.ActionLink("Back to Dashboard", "Dashboard")
</div>