@model LoginRegister.Models.User

@{
    ViewBag.Title = "Register";
}





<div class="row justify-content-md-center">
   
    <div class="col-md-5">
        @using (Html.BeginForm("Register", "Home", FormMethod.Post))
        {
            //@Html.ValidationSummary()
            @Html.AntiForgeryToken()

            <div class="card">
                <div class="card-header">
                    <div class="card-title"><h1>Register</h1></div>
                </div>
                <div class="card-body">


                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName)
                        @Html.TextBoxFor(m => m.FirstName, "", new { @class = "form-control", @placeholder = "First Name" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "badge badge-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.MiddleName)
                        @Html.TextBoxFor(m => m.MiddleName, "", new { @class = "form-control", @placeholder = "Middle Name" })
                        @Html.ValidationMessageFor(m => m.MiddleName, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName)
                        @Html.TextBoxFor(m => m.LastName, "", new { @class = "form-control", @placeholder = "Last Name" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "badge badge-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.FathersName)
                        @Html.TextBoxFor(m => m.FathersName, "", new { @class = "form-control", @placeholder = "Father's Name" })
                        @Html.ValidationMessageFor(m => m.FathersName, "", new { @class = "badge badge-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.MobileNumber)
                        @Html.TextBoxFor(m => m.MobileNumber, "", new { @class = "form-control", @placeholder = "Mobile Number" })
                        @Html.ValidationMessageFor(m => m.MobileNumber, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "badge badge-danger" })
                        @if (ViewBag.error != null)
                        {
                            <span class="badge badge-danger">@ViewBag.error</span>
                        }
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AadharNumber)
                        @Html.TextBoxFor(m => m.AadharNumber, "", new { @class = "form-control", @placeholder = "Aadhar Number" })
                        @Html.ValidationMessageFor(m => m.AadharNumber, "", new { @class = "badge badge-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.DateofBirth)
                        @Html.TextBoxFor(m => m.DateofBirth, "", new { @class = "form-control", @placeholder = "DateOfBirth", Type = "Date" })
                        @Html.ValidationMessageFor(m => m.DateofBirth, "", new { @class = "badge badge-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Address)
                        @Html.TextBoxFor(m => m.Address, "", new { @class = "form-control", @placeholder = "Address" })
                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "badge badge-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Occupation)
                        @Html.TextBoxFor(m => m.Occupation, "", new { @class = "form-control", @placeholder = "Occupation" })
                        @Html.ValidationMessageFor(m => m.Occupation, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AnnualIncome)
                        @Html.TextBoxFor(m => m.AnnualIncome, "", new { @class = "form-control", @placeholder = "AnnualIncome" })
                        @Html.ValidationMessageFor(m => m.AnnualIncome, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confim Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "badge badge-danger" })
                    </div>

                    <div class="form-group">
                        <button type="submit" onclick="alert('Registration Successfullly!')">Submit</button>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
